.header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--fib-4);
    padding: var(--fib-4);

}

.header__title {
    flex: 1 1 auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    transition-property: font-size;
    transition-timing-function: ease-in-out;
    transition-duration: var(--sys-transition-duration);
}

.header__title.display-large {
}

.header__menu {
    flex: 0 0 auto;
}

@media (min-width: 233px) {
    /* sm */
    .header {
        padding: var(--fib-4);
    }
}

@media (min-width: 411px) {
    /* md */
    .header {
        padding: var(--fib-5);
    }
}

@media (min-width: 788px) {
    /* lg */
    .header {
        padding: var(--fib-6);
    }
}
