:root {
    color-scheme: light;

    --white: #ffffff;
    --black: #000000;
    --sys-primary: #295ea7;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #d6e3ff;
    --sys-on-primary-container: #001b3e;
    --sys-primary-fixed: #d6e3ff;
    --sys-on-primary-fixed: #001b3e;
    --sys-primary-fixed-dim: #a9c7ff;
    --sys-on-primary-fixed-variant: #00468c;
    --sys-secondary: #00658f;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #c7e7ff;
    --sys-on-secondary-container: #001e2e;
    --sys-secondary-fixed: #c7e7ff;
    --sys-on-secondary-fixed: #001e2e;
    --sys-secondary-fixed-dim: #86cfff;
    --sys-on-secondary-fixed-variant: #004c6d;
    --sys-tertiary: #5355a9;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #e1e0ff;
    --sys-on-tertiary-container: #0a0664;
    --sys-tertiary-fixed: #e1e0ff;
    --sys-on-tertiary-fixed: #0a0664;
    --sys-tertiary-fixed-dim: #c0c1ff;
    --sys-on-tertiary-fixed-variant: #3b3d8f;
    --sys-error: #ba1a1a;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad6;
    --sys-on-error-container: #410002;
    --sys-outline: #73777f;
    --sys-background: #fefbff;
    --sys-on-background: #1b1b1f;
    --sys-surface: #f7f9fd;
    --sys-on-surface: #1b1b1f;
    --sys-surface-variant: #dfe2eb;
    --sys-on-surface-variant: #43474e;
    --sys-inverse-surface: #303034;
    --sys-inverse-on-surface: #f2f0f4;
    --sys-inverse-primary: #a9c7ff;
    --sys-shadow: #000000;
    --sys-surface-tint: #295ea7;
    --sys-outline-variant: #c3c6cf;
    --sys-scrim: #000000;
    --sys-surface-container-highest: #d6e3f5;
    --sys-surface-container-high: #dee9f7;
    --sys-surface-container: #e6eef9;
    --sys-surface-container-low: #eff4fb;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-bright: #f7fafd;
    --sys-surface-dim: #cadbf2;

    --fib-1: 1px;
    --fib-2: 1px;
    --fib-3: 2px;
    --fib-4: 3px;
    --fib-5: 5px;
    --fib-6: 8px;
    --fib-7: 13px;
    --fib-8: 21px;
    --fib-9: 34px;
    --fib-10: 55px;
    --fib-11: 89px;
    --fib-12: 144px;
    --fib-13: 233px;
    --fib-14: 377px;
    --fib-15: 610px;
    --fib-16: 987px;
    --fib-17: 1597px;
    --fib-18: 2584px;
    --fib-19: 4181px;
}

.dark {
    color-scheme: dark;
    --sys-dark-primary: #a9c7ff;
    --sys-dark-on-primary: #003064;
    --sys-dark-primary-container: #00468c;
    --sys-dark-on-primary-container: #d6e3ff;
    --sys-dark-primary-fixed: #d6e3ff;
    --sys-dark-on-primary-fixed: #001b3e;
    --sys-dark-primary-fixed-dim: #a9c7ff;
    --sys-dark-on-primary-fixed-variant: #00468c;
    --sys-dark-secondary: #86cfff;
    --sys-dark-on-secondary: #00344c;
    --sys-dark-secondary-container: #004c6d;
    --sys-dark-on-secondary-container: #c7e7ff;
    --sys-dark-secondary-fixed: #c7e7ff;
    --sys-dark-on-secondary-fixed: #001e2e;
    --sys-dark-secondary-fixed-dim: #86cfff;
    --sys-dark-on-secondary-fixed-variant: #004c6d;
    --sys-dark-tertiary: #c0c1ff;
    --sys-dark-on-tertiary: #232478;
    --sys-dark-tertiary-container: #3b3d8f;
    --sys-dark-on-tertiary-container: #e1e0ff;
    --sys-dark-tertiary-fixed: #e1e0ff;
    --sys-dark-on-tertiary-fixed: #0a0664;
    --sys-dark-tertiary-fixed-dim: #c0c1ff;
    --sys-dark-on-tertiary-fixed-variant: #3b3d8f;
    --sys-dark-error: #ffb4ab;
    --sys-dark-on-error: #690005;
    --sys-dark-error-container: #93000a;
    --sys-dark-on-error-container: #ffdad6;
    --sys-dark-outline: #8d9199;
    --sys-dark-background: #1b1b1f;
    --sys-dark-on-background: #e4e1e6;
    --sys-dark-surface: #131316;
    --sys-dark-on-surface: #c8c6ca;
    --sys-dark-surface-variant: #43474e;
    --sys-dark-on-surface-variant: #c3c6cf;
    --sys-dark-inverse-surface: #e4e1e6;
    --sys-dark-inverse-on-surface: #1b1b1f;
    --sys-dark-inverse-primary: #295ea7;
    --sys-dark-shadow: #000000;
    --sys-dark-surface-tint: #a9c7ff;
    --sys-dark-outline-variant: #43474e;
    --sys-dark-scrim: #000000;
    --sys-dark-surface-container-highest: #343438;
    --sys-dark-surface-container-high: #2a2a2d;
    --sys-dark-surface-container: #1f1f23;
    --sys-dark-surface-container-low: #1b1b1f;
    --sys-dark-surface-container-lowest: #0e0e11;
    --sys-dark-surface-bright: #39393c;
    --sys-dark-surface-dim: #131316;
}

.display-large {
    font-size: 57px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    line-height: 64px;
    letter-spacing: -0.25px;
    text-decoration: none;
    text-transform: none;
}

.display-medium {
    font-size: 45px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    line-height: 52px;
    text-decoration: none;
    text-transform: none;
}

.display-small {
    font-size: 36px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    line-height: 44px;
    text-decoration: none;
    text-transform: none;
}

.headline-large {
    font-size: 32px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
    text-decoration: none;
    text-transform: none;
}

.headline-medium {
    font-size: 28px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    line-height: 36px;
    text-decoration: none;
    text-transform: none;
}

.headline-small {
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    text-decoration: none;
    text-transform: none;
}

.title-large {
    font-size: 22px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    text-decoration: none;
    text-transform: none;
}

.title-medium {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-decoration: none;
    text-transform: none;
}

.title-small {
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-decoration: none;
    text-transform: none;
}

.body-large {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: none;
}

.body-medium {
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-decoration: none;
    text-transform: none;
}

.body-small {
    font-size: 12px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
}

.label-large {
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-decoration: none;
    text-transform: none;
}

.label-medium {
    font-size: 12px;
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: none;
}

.label-small {
    font-size: 11px;
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: none;
}

.effect-style-resrc-elevation-1 {
    box-shadow: 0px 1px 2px #000000, 0px 1px 3px 1px #000000;
}

.effect-style-resrc-elevation-1 {
    box-shadow: 0px 1px 2px #000000, 0px 1px 3px 1px #000000;
}

.effect-style-resrc-elevation-2 {
    box-shadow: 0px 1px 2px #000000, 0px 2px 6px 2px #000000;
}

.effect-style-resrc-elevation-2 {
    box-shadow: 0px 1px 2px #000000, 0px 2px 6px 2px #000000;
}

.effect-style-resrc-elevation-3 {
    box-shadow: 0px 4px 8px 3px #000000, 0px 1px 3px #000000;
}

.effect-style-resrc-elevation-3 {
    box-shadow: 0px 4px 8px 3px #000000, 0px 1px 3px #000000;
}

.effect-style-resrc-elevation-4 {
    box-shadow: 0px 6px 10px 4px #000000, 0px 2px 3px #000000;
}

.effect-style-resrc-elevation-4 {
    box-shadow: 0px 6px 10px 4px #000000, 0px 2px 3px #000000;
}

.effect-style-resrc-elevation-5 {
    box-shadow: 0px 8px 12px 6px #000000, 0px 4px 4px #000000;
}

.effect-style-resrc-elevation-5 {
    box-shadow: 0px 8px 12px 6px #000000, 0px 4px 4px #000000;
}

.effect-style-resrc-elevation-dark-1 {
    box-shadow: 0px 1px 3px 1px #000000, 0px 1px 2px #000000;
}

.effect-style-resrc-elevation-dark-1 {
    box-shadow: 0px 1px 3px 1px #000000, 0px 1px 2px #000000;
}

.effect-style-resrc-elevation-dark-2 {
    box-shadow: 0px 2px 6px 2px #000000, 0px 1px 2px #000000;
}

.effect-style-resrc-elevation-dark-2 {
    box-shadow: 0px 2px 6px 2px #000000, 0px 1px 2px #000000;
}

.effect-style-resrc-elevation-dark-3 {
    box-shadow: 0px 4px 8px 3px #000000, 0px 1px 3px #000000;
}

.effect-style-resrc-elevation-dark-3 {
    box-shadow: 0px 4px 8px 3px #000000, 0px 1px 3px #000000;
}

.effect-style-resrc-elevation-dark-4 {
    box-shadow: 0px 6px 10px 4px #000000, 0px 2px 3px #000000;
}

.effect-style-resrc-elevation-dark-4 {
    box-shadow: 0px 6px 10px 4px #000000, 0px 2px 3px #000000;
}

.effect-style-resrc-elevation-dark-5 {
    box-shadow: 0px 8px 12px 6px #000000, 0px 4px 4px #000000;
}

.effect-style-resrc-elevation-dark-5 {
    box-shadow: 0px 8px 12px 6px #000000, 0px 4px 4px #000000;
}
