.header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--fib-4);
    padding: var(--fib-4);

}

.header__title {
    flex: 1 0 auto;

    transition: font-size 0.5s linear
}

.header__title.display-large {
}

.header__menu {
    flex: 0 0 auto;
}

@media (min-width: 233px) {
    /* sm */
    .header {
        padding: var(--fib-4);
    }
}

@media (min-width: 411px) {
    /* md */
    .header {
        padding: var(--fib-5);
    }
}

@media (min-width: 788px) {
    /* lg */
    .header {
        padding: var(--fib-6);
    }
}
