.post-container {
    background-color: var(--sys-surface-container);
    border-radius: var(--fib-8);
    display: flex;
    flex-direction: column;
    gap: var(--fib-6);
    min-height: var(--fib-12);
    padding: var(--fib-8);

    transition-property: width;
    transition-timing-function: ease-in-out;
    transition-duration: var(--sys-transition-duration);
}

.post-container:hover {
    /*noinspection CssNegativeValue*/
    box-shadow: 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)
}

.post-container.large {
    width: 100%;
}

@media (min-width: 233px) {
    .post-container {
        width: var(--fib-13);
    }
}

@media (min-width: 411px) {
    .post-container {
        width: var(--fib-13);
    }
}

@media (min-width: 788px) {
    .post-container {
        width: var(--fib-14);
    }
}
