/*Note: the prefix resrc is use to avoid naming conflicts with other css frameworks*/
.resrc-body {
    display: flex;
    flex-direction: column;
    gap: var(--fib-5);
    max-height: 0;
    opacity: 1;
    overflow: hidden;

    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: var(--sys-transition-duration);
    transition-delay: var(--sys-transition-delay);
}

.resrc-body.resrc-hidden {
    max-height: 0;
    opacity: 0;

    transition: all 0.3s linear;
}

.resrc-body:not(.resrc-hidden) {
    max-height: 100svh;
    opacity: 1;
}
